name: on-mange-quoi
services:
  postgres:
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=omq
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=onmangequoi
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
