spring:
  application:
    name: On mange quoi
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    enabled: true
  jpa:
    open-in-view: false
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health
