name: Maven Build

on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build
        run: |
          mvn -B clean verify -Pcheck-code-format

      - name: SonarQube Scan
        if: github.actor != 'dependabot[bot]'
        run: |
          mvn -B sonar:sonar -Pcheck-code-format  \
            -Dsonar.projectKey=glucazeau_on-mange-quoi \
            -Dsonar.organization=glucazeau \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
            -Dsonar.qualitygate.wait=true

      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: onmangequoi-jar
          path: target/*.jar

  deploy:
    name: Deploy to server
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v6
        with:
          name: onmangequoi-jar
          path: .

      - name: Deploy JAR to Server VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          source: "onmangequoi-0.0.1-SNAPSHOT.jar"
          target: "/home/${{ secrets.SERVER_USER }}"

      - name: Restart Spring Boot Service
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            sudo systemctl daemon-reload
            sudo systemctl restart onmangequoi.service
            sudo systemctl status onmangequoi.service --no-pager
